$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

$white:  #FFFFFF;
$silver: #DDDDDD;
$gray:   #AAAAAA;
$black:  #111111;

$atom-size: 48px;


$vspace: 0.25em;
$hspace: 0.5em;

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
  color: $white;
}

canvas {
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: $black;
}

#page-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 0;
  background-color: color($white a(20%));
  text-shadow: 1px 1px $black;
  text-align: center;
}

#page-overlay button {
    background: none;
    border: none;
    color: $white;
    text-shadow: 1px 1px $black;
    font-weight: bold;
    font-size: 1em;
    padding: 0.25em 0;
    transition: 300ms ease-in-out;
}

#page-overlay button.loaded {
    background: $green;
    padding: 0.25em 0.75em;
    
}

$demo-aspect: 640/512;

/* minimum */
#page-overlay iframe {
    $height: 150px;
    width: calc($demo-aspect * $height);
    height: $height;
    margin-bottom: 0.5em;
}

/* all the landscaped mobiles */

@media (orientation: landscape) and (min-height: 380px) {
    #page-overlay iframe {
	$height: 220px;
	width: calc($demo-aspect * $height);
	height: $height;
    }
}

@media (orientation: landscape) and (min-height: 480px) {
    #page-overlay iframe {
	$height: 512px;
	width: calc($demo-aspect * $height);
	height: $height;
    }
}

@media (orientation: landscape) and (min-height: 800px) {
    #page-overlay iframe {
	$height: 650px;
	width: calc($demo-aspect * $height);
	height: $height;
    }
}


/* all the portrayed devices */

@media (orientation: portrait) {
    #page-overlay iframe {
	$height: 200px;
	width: calc($demo-aspect * $height);
	height: $height;
    }
}

@media (orientation: portrait) and (min-width: 380px) {
    #page-overlay iframe {
	$height: 280px;
	width: calc($demo-aspect * $height);
	height: $height;
    }
}

@media (orientation: portrait) and (min-width: 480px) {
    #page-overlay iframe {
	$height: 360px;
	width: calc($demo-aspect * $height);
	height: $height;
    }
}

@media (orientation: portrait) and (min-width: 600px) {
    #page-overlay iframe {
	$height: 450px;
	width: calc($demo-aspect * $height);
	height: $height;
    }
}

@media (orientation: portrait) and (min-width: 800px) {
    #page-overlay iframe {
	$height: 550px;
	width: calc($demo-aspect * $height);
	height: $height;
    }
}


.tool, .node {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 0 $vspace $vspace;
  display: block;
  padding: $hspace;
  user-select: none;
  opacity: 0.75;
}

.sample {
  background-color: color($lime a(90%));
  color: $white;
  text-shadow: 1px 1px $black;
  padding: 0;
  border-radius: 50%;
  z-index: 20;
  width: $atom-size;
  height: $atom-size;
  text-align: center;
  line-height: $atom-size;
}

.toolbar {
  position: absolute;
  background-color: color($green a(50%));  
  top: 0;
  bottom: 0;
  width: 33%;
  left: 0;
  right: 66%;
  overflow: hidden;
  transform: translate(-85%, 0);
  padding: 0.5em 0.667em;
}

.toolbar:after {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    content: ">>";
}

.toolbar.active {
  transform: translate(0, 0);
}

.toolbar.active:after {
    content: "<<";
}

.tool.active {
  background-color: $red;
}

.toolbar .tool {
    display: inline-block;
}

@media (min-height: 600px) {
    .toolbar .tool {
	display: block;
    }
}

@media (min-width: 667px) {
    .toolbar {
	width: 20%;
    }
}

@media (min-height: 650px) and (min-width: 350px) {
    .toolbar {
	width: calc($atom-size * 2);
    }
}

@media (min-width: 1100px) {
    .toolbar {
	width: calc($atom-size * 2);
    }
}

.orbit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.chain {
  background: color($teal a(70%));
}

.toolbar.active + .orbit {
  left: 10%;
}


.segment {
  transform-origin: 0 0;
  height: 5px;
  background-color: $lime;
  z-index: 0;
}


.sample[data-n]:before {
    content: "";
    position: absolute;
    z-index: 10;
    background: transparent;
    border: 0px solid $green;
    display: block;
    border-radius: 50%;
    height: $atom-size;
    width: $atom-size;
    box-sizing: content-box;
}

.sample[data-n="1"]:before {
    border-width: 2px;
    top: -2px;
    left: -2px;
}

.sample[data-n="2"]:before {
    border-width: 4px;
    top: -4px;
    left: -4px;
}

.sample[data-n="3"]:before {
    border-width: 6px;
    top: -6px;
    left: -6px;
}

.sample[data-n="4"]:before {
    border-width: 8px;
    top: -8px;
    left: -8px;
}